.calcLayout{
    display:flex;
    flex-direction: column;
    border:1px solid;
    height: 500px;
    width: 400px;
    margin:auto;
    border-radius: 20px;
    background-color: lightgray;
}
.first, .second, .third, .forth, .fifth{
display:flex;
flex-direction: row;
flex-grow:1;
margin-right: 30px;
margin-left:30px;

}
.grow{
    border-radius:100px;
    flex-grow:1;
}
#zero{
    flex-grow:2;
}
.display{
    height:50px;
    border-radius: 10px;
    margin:10px;
    margin-left:30px;
    margin-right: 30px;
}
.fifth{
    margin-bottom: 20px;
}
.columns{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow:1;
}
#AC, #perc, #div, #mul, #div, #min, #plus, #eql{
    background-color: lightyellow;
}